---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About me</h4>
  <p>
    I am currently a Postdoctoral Researcher at the Department of Computer Science, Aalborg University. My research interests span AI for Spatio-temporal Data Management, and AI for Education. I have authored and co-authored more than 20 publications in prestigious journals and conferences, including VLDB, ICML, WWW, CIKM, and IEEE Transactions, achieving an h-index of 9 with over 520 citations according to Google Scholar.
  </p>
  <p>
    I have actively contributed to the research community by serving as a Program Committee Member for leading conferences such as AAAI (2024–2026) and DASFAA (2024–2025), as well as IEEE EI2 2024 and BESC 2025. In addition, I have been invited to review for top-tier conferences and journals including TKDE, IJCAI, CIKM, EMNLP, and IEEE Transactions. 
  </p>
  <h4>Research Interests</h4>
  <p>My current research interests include:</p>
  <ul>
    <li>AI for Spatio-temporal Data Management</li>
    <li>AI for Education</li>
  </ul>
</div>

<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=kmPGgEYAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>    
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    

    <!-- KT PAPERS -->
    <div class="tab-pane" id="papers-KT">
      {% assign kt_papers = site.data.publications.papers | where: "kt", "y" %}
      {% for paper in kt_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- GNN PAPERS -->
    <div class="tab-pane" id="papers-GNN">
      {% assign gnn_papers = site.data.publications.papers | where: "gnn", "y" %}
      {% for paper in gnn_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- LLM PAPERS -->
    <div class="tab-pane" id="papers-llm">
      {% assign llm_papers = site.data.publications.papers | where: "llm", "y" %}
      {% for paper in llm_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- fl PAPERS -->
    <div class="tab-pane" id="papers-fl">
      {% assign fl_papers = site.data.publications.papers | where: "fl", "y" %}
      {% for paper in fl_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- rl PAPERS -->
    <div class="tab-pane" id="papers-rl">
      {% assign rl_papers = site.data.publications.papers | where: "rl", "y" %}
      {% for paper in rl_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<!-- <div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): <a href={{class.link}} target="_blank">{{ class.title }}</a></p>
  </div>
  {% endfor %}
</div> -->

<!-- ========== Services ========== -->
<div class="docs-section" id="services">
  <h4>Services</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#services-conferences">Conferences</div></li>
    <li><div class="button" data-ref="#services-journal">Journals</div></li>
  </ul>

  <div class="tab-content">

    <!-- Conferences -->
    <div class="tab-pane active" id="services-conferences">
      {% assign conferences = site.data.services.services | where: "conference", "y" %}
      {% for paper in conferences %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- Journal -->
    <div class="tab-pane" id="services-journal">
      {% assign journals = site.data.services.services | where: "journal", "y" %}
      {% for paper in journals %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== VISITOR MAP ========== -->
<div class="docs-section" id="visitors">
  <h4>Visitor Statistics</h4> 
  <div class="tab-content">
    <!-- Map View -->
    <div class="tab-pane active" id="visitor-map">
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=DAWVWceXWcSCvqiRLrw4wfvZxljK_tyHuvwcISf9VrA&cl=ffffff&w=a&n=false&t=n&n=false"></script>
    </div>
 </div>
</div>

<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://faculty.washington.edu/msaveski/">Martin Saveski</a>, <a href="https://www.zitaoliu.com/index.html#news">Zitao Liu</a> and <a href="http://thashim.github.io">Tatsunori Hashimoto</a>
  </p>

</div>
